{#
/**
 * @file
 * Tipp-Eingabe Formular.
 *
 * Variablen:
 * - form: Drupal-Formular-Array
 * - tournament: Turnier-Objekt
 */
#}
{% import '@soccerbet/soccerbet-flag.html.twig' as flag_helper %}
<div class="soccerbet-bets">

  <h2 class="soccerbet-bets__title">
    {{ 'Place bets'|t }}
    {% if tournament %}
      – {{ tournament.tournament_desc }}
    {% endif %}
  </h2>

  {{ form }}

</div>
