{#
/**
 * @file
 * Default theme implementation for TournamentTeamRelations.
 *
 * @ingroup soccerbet
 */
#}

{#

/**
 * @file
 * Template file for soccerbet tournament table.
 */
#}
<h3><a href="#">{{ group_name }}</a></h3>
<div>
  {{ table }}
</div>