{#
/**
 * @file
 * Default theme implementation for TournamentTeamRelations.
 *
 * @ingroup soccerbet
 */
#}


<div class="soccerbet-tournament-tables">
    <h2>{{  title }}</h2>
    <div id="soccerbet-tournament-tables">
        {{ tables }}
    </div>
</div>